/* Developed by victin © 2022
   License: Public Domain
*/

/* Color Palette */
:root {
  --w: #fff;
  --c1: #efefef;
  --c2: #aeaeae;
  --c3: #737373;
  --c4: #373737;
  --c5: #1e1e1e;
  --c6: #0d0d0d;
  --p1: #d3a500;
  --b: #000;

  /* Typography */
  --ff-serif: "Times New Roman", Times, serif;
  --ff-sans: Helvetica, Arial, sans-serif;
  --ff-mono: "Courier New", Courier, monospace;

  /* Size */
  --mw-d: 1100px;
  --mw-t: 820px;
  --mw-m: 350px;
}

/* Global Style */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--c1);
}

h1,
h2,
h3,
nav {
  font-family: var(--ff-sans);
}

p,
i,
blockquote {
  font-family: var(--ff-serif);
}

a {
  text-decoration: none;
}

.button-div {
  text-align: center;
  margin-top: 80px;
}

.button-black-div {
  text-align: center;
  margin-top: 40px;
}

.button {
  display: inline-block;
  font-family: var(--ff-sans);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 8px 12px;
  color: var(--b);
  border: var(--b) 2px solid;
  transition: all 0.2s ease-in;
}

.button:hover {
  transition: all 0.2s ease-out;
  transform: translate(4px, -4px);
  box-shadow: -5px 5px 0 var(--b);
}

.button-black {
  display: inline-block;
  font-family: var(--ff-sans);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 8px 12px;
  color: var(--c1);
  border: var(--c1) 2px solid;
  transition: all 0.2s ease-in;
}

.button-black:hover {
  transition: all 0.2s ease-out;
  transform: translate(4px, -4px);
  box-shadow: -5px 5px 0 var(--c1);
}

/* Header */
header {
  padding: 16px;
  text-align: center;
  background-color: var(--b);
}

nav {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin: auto;
  color: var(--c1);
}

nav a {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.08rem;
  color: var(--c3);
}

nav a:hover {
  color: var(--c1);
}

@media (max-width: 1100px) {
  nav {
    gap: 48px;
  }
  nav a {
    padding: 4px 12px;
    background-color: var(--c5);
  }
}

@media (max-width: 820px) {
  nav {
    gap: 24px;
  }
}

/* Main Section */

main {
  color: var(--c1);
  background-color: var(--b);
}

#home {
  display: grid;
  grid-template-columns: 540px 540px;
  gap: 20px;
  max-width: var(--mw-d);
  margin: auto;
  align-items: center;
}

#home p {
  font-family: var(--ff-sans);
  font-size: 2rem;
  font-weight: 400;
  color: var(--c3);
}

#home h1 {
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.1rem;
}

#home span::after {
  content: "";
  display: block;
  border-bottom: 4px solid var(--p1);
  width: 64px;
  padding-bottom: 16px;
}

.film-gallery img {
   transition: 0.3s ease;
}

.film-gallery img:hover {
   transform: scale(1.1);
}

@media (max-width: 1100px) {
  #home {
    text-align: center;
    justify-content: center;
    display: block;
    max-width: var(--mw-t);
  }
  #home-div {
    padding-top: 64px;
  }
  #home span::after {
    display: block;
    margin: 0 auto;
  }
  #home img {
    margin-top: 32px;
    max-width: 540px;
    justify-items: center;
  }
}

@media (max-width: 840px) {
  #home {
    max-width: var(--mw-m);
  }
  #home h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  #home p {
    font-size: 1.5rem;
  }
  #home img {
    max-width: 350px;
  }
}
/* Quote Section */
#quote {
  padding: 80px 0 80px 0;
  color: var(--c1);
  background-color: var(--b);
}

#quote-div {
  max-width: 1100px;
  margin: auto;
}

#quote-div blockquote,
p {
  font-size: 1.5rem;
  line-height: 2rem;
}

#quote-div p {
  text-align: right;
}

@media (max-width: 1100px) {
  #quote-div blockquote,
  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  #quote-div {
    max-width: var(--mw-t);
    margin: auto;
  }
}

@media (max-width: 840px) {
  #quote {
    padding: 40px 0 40px 0;
  }
  #quote-div blockquote,
  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  #quote-div {
    max-width: var(--mw-m);
  }
}

/* Life Section */
#life {
  margin: 80px auto 80px auto;
}

.sections-div {
  justify-content: center;
  max-width: var(--mw-d);
  margin: auto;
}

.h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 0 auto 80px auto;
  width: fit-content;
  text-align: center;
}

.sections-div h3 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 40px;
}

#life-content {
  display: grid;
  gap: 80px;
}

.life-grid {
  display: grid;
  grid-template-columns: 540px 540px;
  gap: 20px;
  align-items: center;
}

.life-content-grid p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.life-grid-img {
  justify-self: right;
}

.life-grid-img img {
  width: 400px;
  box-shadow: -8px 8px 0 var(--b);
}

@media (max-width: 1100px) {
  .sections-div {
    max-width: var(--mw-t);
  }
  #life-content {
    justify-content: center;
  }
  .sections-div h3 {
    text-align: center;
  }
  .life-grid {
    display: block;
    max-width: 540px;
  }
  .life-grid-img img {
    display: flex;
    justify-self: center;
    margin: 40px auto 0 auto;
  }
}

@media (max-width: 840px) {
  #life {
    margin: 40px 0 80px 0;
  }
  .life-grid {
    max-width: 350px;
  }
  .h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0 auto 80px auto;
  }
  .life-content-grid p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #life-content {
    gap: 64px;
  }
  .sections-div h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
  }
  .life-grid-img img {
    width: 350px;
  }
}

/* Filmography Section */
#filmography {
  color: var(--c1);
  background-color: var(--c6);
  margin: 0 auto;
  padding: 80px 0 80px 0;
}

#film-grid {
  display: grid;
  grid-template-columns: 540px 540px;
  gap: 40px 20px;
}

.film-gallery {
  text-align: center;
}

.film-gallery img {
  margin-bottom: 8px;
}

.film-gallery p {
  font-family: var(--ff-sans);
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.film-gallery span {
  display: block;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--c3);
}

@media (max-width: 1100px) {
  #film-grid {
    max-width: var(--mw-t);
    grid-template-columns: 400px 400px;
    gap: 40px 20px;
  }
  .film-gallery img {
    max-width: 400px;
    text-align: center;
  }
}

@media (max-width: 840px) {
  #filmography {
    margin-top: 40px;
  }
  #film-grid {
    display: block;
  }
  .film-gallery img {
    max-width: 350px;
    text-align: center;
  }
  .film-gallery {
    margin-bottom: 40px;
  }
}

/* Signature Section */
#signature {
  text-align: center;
  margin-top: 80px;
  background-color: var(--c6);
}

#signature img {
  width: 540px;
}

@media (max-width: 1100px) {
  #signature img {
    width: 380px;
  }
}

@media (max-width: 600px) {
  #signature img {
    width: 350px;
  }
}

/* Footer */
footer {
  padding: 24px;
  text-align: center;
  color: var(--c1);
  background-color: var(--b);
}
footer p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--c3);
}

footer p a {
  color: var(--c3);
}
footer p a:hover {
  color: var(--p1);
  font-weight: 700;
}
